.principal{
    position: relative;
    left: 0px;
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    background-color:#001e39;
    margin:0px;
}
.principal img{
    display: block; 
    margin: 0 0 0 100px;
    max-width: 100%;
    width: 111px;
    height: 25px;
}
main{
    position: relative;
    top: 0px;
    left: 0px;

    background-color:white;
}
div img{
    display: block; 
    margin: 0 auto;
    width: 400px;
    height: 90px;


}
/*linea amarilla divisoria*/
hr{
    height: 7px;
    background-color:#FACC2E;
    margin-top: -1px;
    margin-bottom: 60px;
    box-shadow: 0 3px 3px #ccc;
}

#boton1{
    background:#0B0B3B;
    color: #fff;
    margin-left:2%;
    padding: 10px;
    size:10px;
}
#formulario{
    position: relative;
    top: 1px;
    width:100%;

}
/*estilo para las cajas de texto del login de usuario*/
#formulario #usuario[type=text]:focus{
    
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;

}
#formulario #clave[type=password]:focus{
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}
.contenedor-login  #formulario{
    padding:  2% 40% 0 40%;   

}
.contenedor-login #boton-login{
    width: 100%;
    background-color: #001e39; 
    color: #fff;
    box-shadow: 0 0 5px #ccc;
}
.contenedor-login #boton-login:hover{
    background-color: #aeaeae;
    color:black;
}

.contenedor-login  #formulario  h6{
    padding: 0 10% 0 10%;
    font-size: 13px;
    margin-top: 0;

}