body{

    background-color:#F4F6F7;
}
/*---------------------------------------- barra lateral izquierda ----------------------------------------*/
.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #001e39;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}


.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    display: block;
    margin-top: 50px;
}

.sidebar a {
    display: block;
    width: 78px;
    height: 60px;
    color: #999999;
    text-decoration: none;

}
.sidebar span{
    margin-left: 30px;
}
.sidebar p {
    text-align: center;
    font-size: 11.5px;
    padding-top: 10px;

}
.sidebar a:hover{
    color:#fff;
}

/*----------------------------------------cabecera----------------------------------------*/

.principal{
    position: relative;
    left: 0px;
    width:100%;
    height: 55px;
    padding-bottom:15px;
    background-color:#001e39;
}
.principal .logo{
    float: left;
    width: 50%;
    padding-top: 15px;
}
.principal .logo img{
    display: block; 
    margin: 0 0 0 100px;
    max-width: 100%;
    width: 111px;
    height: 25px;
}

/*----------------------------------------linea amarilla divisoria----------------------------------------*/
hr{
    height: 7px;
    background-color:#FACC2E;
    margin-top: -1px;
    box-shadow: 0 3px 3px #ccc;
}
/*----------------------------------------datos usuario----------------------------------------*/
.info-usuario{
    display:  inline-block;
    float: right;
    width: 50%;
    padding-right: 40px;
    height: 54px;
}
.info-usuario div{
    color: #999999;    
}
.info-usuario div > button{
    float: right;
    width: 40px;
    height: 50px;


}
.info-usuario div p {
    padding-top: 7px;
    float: right;
    width: 170px;
}
.info-usuario div #info-usuario-login {
    float: right;
    margin-right: 10px;
    margin-top: 10px;    
    padding: 17px;
    background-image: url('../Imagenes/silueta.png');
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 50%;
}


/*----------------------------------------menu desplegable usuario----------------------------------------*/
.info-usuario div > button{
    outline: none;
    background-color: transparent !important;
    border: none;
    color:#999999;
}
.info-usuario div > button:hover{
    color:#fff;
    -o-transition:color .3s ease-out, background 3s ease-in;
    -ms-transition:color .3s ease-out, background 3s ease-in;
    -moz-transition:color .3s ease-out, background 3s ease-in;
    -webkit-transition:color .3s ease-out, background 3s ease-in;
    transition:color .3s ease-out, background 3s ease-in;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 75%;
    top: 50px;
    background-color: #F4F6F7;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px;
}

.dropdown-content a {
    color: #001e39;
    font-size: 13.5px;
    padding: 7px 13px;
    text-decoration: none;
    display: block;
    text-align: left;

}
.dropdown-content form{
    margin: 0px;
    padding: 0px;  
}
.dropdown-content form button{
    outline: none;
    background-color: transparent !important;
    border: none;
    color: #001e39;
    font-size: 13.5px;
    margin: 0px;
    padding: 0px;  
}

.dropdown-content a:hover {
    background-color: #ccc;
    border-radius: 3px;
    color:#fff;    
    width: 100%;
}
.dropdown-content button:hover {
    background-color: #ccc;
    border-radius: 3px;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 0px;
    padding: 0px;
}


/*----------------------------------------contenido principal----------------------------------------*/
.contenedor{    

    margin-left: 110px;
    margin-right: 40px;
    height: 100%;
}


.boton_personalizado:active,.boton_personalizado:focus,.boton_personalizado:active{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*----------------------------------------elementos del articulo 1----------------------------------------*/
.articulo_1{
    background-color: #ffffff;
    color: #999999;
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    margin-bottom: 20px;
}
.articulo_1 h5{
    font-size: 15px;
    margin: 0;
    padding: 20px 0 0 25px;
}
.articulo_1 span{
    color: #999999;
}



/*----------------------------------------elementos del articulo 2----------------------------------------*/
.articulo_2{
    position: relative;
    margin-bottom:  20px;
    background-color: #ffffff;
    color: #999999;
    width: 100%;
    height: 85px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}
/*----------------------------------------contedor para cada sección del filtro----------------------------------------*/
.articulo_2 section{
    position: relative;
    float: left;
    background-color: #ffffff;
    color: #999999;
    height: 85px;
}


.articulo_2 #lblDocente{
    position: absolute;
    float: left;
    margin-left: 25px;
    margin-top: 12px;
}


/*----------------------------------------caja de texto----------------------------------------*/
.articulo_2  #txtRut{
    position: relative;
    float: left;
    padding: 10px;
    height: 27px;
    width: 200px;
    border: 1px solid #e7eaec;
    border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    margin-top: 32px;
    margin-left: 25px;
}

.articulo_2 #btnVerDocente{

    padding: 10px;
    height: 27px;
    float: left;
    line-height: 7px;
    margin-left: 10px;
    margin-top: 32px;
    color: #ccc;
    background-color: #001e39;
    font-size: 12px;
}
.articulo_2 #btnVerDocente:hover{
    color: #fff;
    -o-transition:color .3s ease-out, background 3s ease-in;
    -ms-transition:color .3s ease-out, background 3s ease-in;
    -moz-transition:color .3s ease-out, background 3s ease-in;
    -webkit-transition:color .3s ease-out, background 3s ease-in;
    transition:color .3s ease-out, background 3s ease-in;
}

.articulo_2 #lblEscuela{
    position: absolute;
    float: left;
    margin-left: 25px;
    margin-top: 12px;

}
.articulo_2 #ddlEscuela{

    float: left;
    height: 30px;
    padding: 0 0 0 5px;
    width: 350px;
    border: 1px solid #e7eaec;
    border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    margin-top: 32px;
    margin-left: 25px;
}

.articulo_2 #btnVerEscuela{

    padding: 10px;
    height: 27px;
    float: left;
    line-height: 7px;
    margin-left: 10px;
    margin-top: 32px;
    color:#ccc;
    background-color: #001e39;
    font-size: 12px;
}
.articulo_2 #btnVerEscuela:hover{
    color: #fff;
    -o-transition:color .3s ease-out, background 3s ease-in;
    -ms-transition:color .3s ease-out, background 3s ease-in;
    -moz-transition:color .3s ease-out, background 3s ease-in;
    -webkit-transition:color .3s ease-out, background 3s ease-in;
    transition:color .3s ease-out, background 3s ease-in;
}
/*------------------------------------------------------- elementos del articulo 3 -------------------------------------------------------*/
.articulo_3{
    position: relative;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #999999;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}

.articulo_3 article section{
    width: 98%;              
}
.articulo_3 table{
    color: #999999; 
    font-size: 12px;
}
.articulo_3 article section table tr td{
    width:100px;
}
.articulo_3 article section table tr td:first-child{
    width:5px;
}

#info-docente{
    position: relative;
    padding: 20px 0px 10px 25px;
    width: 100% ;
}

.articulo_3 h4,span {
    display: inline-block;
}

.articulo_3 h4 {

    position: relative;
    font-size: 14px;    
    margin: 0;
    padding: 15px 0 15px 25px;
}
.articulo_3 span {
    position: relative;
    float: right;
    margin-top: 15px;    
}
/*----------------------------------------linea amarilla divisoria----------------------------------------*/
#linea-section{
    padding: 0.5px;
    background-color: #e7eaec;
}
/*----------------------------------------linea gris divisoria----------------------------------------*/
#linea-section-gris-completa{
    padding: 0.5px;
    width: 100%;
    background-color: #ccc;
    margin-bottom: 20px;
}
#linea-section-gris{
    padding: 0.5px;
    width: 50%;
    background-color: #ccc;
    margin-bottom: 20px;
}

#btnInfoDocente {   
    background-color: #001e39;
    color: #fff;

}

[aria-expanded=false] #btnInfoDocente span:before{

    content: "\2b  VER";
    padding: 2px;
    color: #ccc;
    font-size: 10px;
}
[aria-expanded=true] #btnInfoDocente span:after{

    content: "\2212  OCULTAR";
    padding: 2px;
    color: #ccc;
    font-size: 10px;   
}
[aria-expanded=true] #btnInfoDocente span:hover:after{

    content: "\2212  OCULTAR";
    padding: 2px;
    color: #fff;
    font-size: 10px;   

}
[aria-expanded=false] #btnInfoDocente span:hover:before{

    content: "\2b  VER";
    padding: 2px;
    color: #fff;
    font-size: 10px;
}

/*------------------------------------------------------- elementos del articulo 4 -------------------------------------------------------*/


.articulo_4{
    position: relative;
    margin-bottom:  20px;
    background-color: #ffffff;
    color: #999999;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}
.articulo_4 article section {
    width: 98%;
}

.articulo_4 h4,span {
    display: inline-block;
}

.articulo_4 h4 {

    position: relative;
    font-size: 14px;    
    margin: 0;
    padding: 15px 0 15px 25px;
}
.articulo_4 span {
    position: relative;
    float: right;
    margin-top: 15px;    
}
.articulo_4 table {
    color: #999999;
    font-size: 12px;
}
.articulo_4 table tr td {
    width: 50%;
}


/*------------------------------------------------------- elementos del articulo 5 -------------------------------------------------------*/


.articulo_5{
    position: relative;
    margin-top: 20px;
    background-color: #ffffff;
    color: #999999;
    width: 100%;


    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}
.articulo_5 h4,span {
    display: inline-block;
}

.articulo_5 h4 {
    position: relative;
    font-size: 15px;
    margin: 0;
    padding: 15px 0 15px 25px;
}
.articulo_5 span {
    position: relative;
    float: right;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 15px;
}
/*----------------------------------------boton docente e info docente----------------------------------------*/

#btnInfoDocente {   
    background-color: #001e39;
    padding:1px 15px 1px 15px;
    color: #fff;
    font-size: 12px;
}
#btnInfoDocente span{   
    float: left;
    margin:2px 3px 0 0;
    color: #fff;
    font-size: 9px;
}
.articulo_cambiar_contrasenia{
    color: #666;
    align-items: center ;
    justify-content: center;
}
.articulo_cambiar_contrasenia #titulo{
    width: 150px;
}
.articulo_cambiar_contrasenia #subtitulo{
    color: #999;
    font-size: 12.5px; 

}
.articulo_cambiar_contrasenia form div{
    margin-left: 37%;
    width: 250px;
}
.articulo_cambiar_contrasenia form div span{
    float: right;
    margin-top: -24px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
}

#btnActualizarContrasenia{
    width: 250px;
    background-color: #001e39;
    color:#fff;
}


/*estilos para la gráfica de administrar docentes*/
.fl-listado-docentes table tbody tr td {
    width: 25%;    
}

.tablaAgregarDocente tr{
    position: relative;
    width: 100%;
}




/*----------------------------------------medias query para dispositivos con un ancho de 1024px y un alto de 768px----------------------------------------*/
@media screen and (max-width: 1024px) and (max-height:768px){ 

    
    .articulo_2 #ddlEscuela{
        width: 300px;
    }
    
}