.principal{
    position: relative;
    left: 0px;
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    background-color:#001e39;
    margin:0px;
}
.principal img{
    display: block; 
    margin: 0 0 0 100px;
    max-width: 100%;
    width: 111px;
    height: 25px;
}
/*linea amarilla divisoria*/
hr{
    height: 7px;
    background-color:#FACC2E;
    margin-top: -1px;
    margin-bottom: 60px;
    box-shadow: 0 3px 3px #ccc;
}
/*----------------------------contenido principal----------------------------*/
.contenido{
    
    position: relative;
}

.contenido #mensaje{
    width: 55%;
    position: relative;
    float: left;
}
.contenido #imagen{
    position: relative;
    float: left;
    width: 30%; 
}
.contenido #boton{
    position: relative;
    margin-top: 5%;
    padding-left: 300px;
    width: 100%; 
}

.botonVolver{
    width:100px;
    height:40px;
    position:relative;
    padding: 10px;
    background-color:#001e39;
    color: #fff;
}
.botonVolver:hover{
    background-color:#FACC2E;
}

/*estilos asociados al texto*/
#mensaje h1{
    font-family: monospace;
    padding-left: 40px;
}
#mensaje li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
    
}