.principal{
    position: relative;
    top: 1px;
    left: 0px;
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    background-color:#001e39;
}
.principal img{
    display: block; 
    margin: 0 0 0 10px;
    max-width: 100%;
    width: 150px;
    height: 35px;
}
main{
    position: relative;
    top: 0px;
    left: 0px;

    background-color:white;
}
div img{
    display: block; 
    margin: 0 auto;
    width: 40%;
    height: 17.5%;


}
hr{
    height: 7px;
    background-color:#FACC2E;
    margin-top: 0;
    margin-bottom: 40px;
}

#boton1{
    background:#0B0B3B;
    color: #fff;
    margin-left:2%;
    padding: 10px;
    size:10px;
}
.formulario{
    position: relative;
    top: 1px;
    width:100%;

}
.contenedor-login  #formulario{
    padding:  2% 40% 0 40%;   

}

.contenedor-login #boton-login{
    width: 100%;
    background-color: #001e39; 
    color: #fff;
}

.contenedor-login  #formulario  h6{
    padding: 0 10% 0 10%;
    font-size: 13px;
    margin-top: 0;
     
}