hr{
     height:7px; 
     background-color:#FACC2E; 
     margin-top:0;
     border:0;
}
 .titulo{
    margin-left: 40px;
    font-size:30pt;
    position: relative;
}
.subtitulo{
   margin-left: 50px;
   font-size:24pt;
}
ul{
    font-size:11pt;
    font-weight:bold;
    font-family: 'Arial';
}
.dibujoDocente{
    position:absolute; 
    top:80px;
    left:810px;
    width:400px;
    height: 400px;
}
.imagenDuocSuperior{
    background-color: #001e39;
    height:60px;
    padding-left: 12px;
}
.botonVolver{
    size:10px;
    right:49%;
    bottom:20%;
    top:100px;
    width:100px;
    height:40px;
    position:absolute;
    padding: 10px;
    background-color:#0B0B3B;
    color: #fff;
}
.botonVolver:hover{
    background-color:#FACC2E;
}