
/*DISEÑO  PARA LOGIN ADMIN*/


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

/*DISEÑO  PARA LOGIN USUARIO*/


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*DISEÑO  PARA PAGINA ERROR*/

/*linea amarilla divisoria*/
hr{
    height: 7px;
    background-color:#FACC2E;
    margin-top: -1px;
    margin-bottom: 60px;
    box-shadow: 0 3px 3px #ccc;
}
/*mensaje de ERROR 404*/
.mensajeError404{
    position: absolute;
    right: 50%;
    color: red;
    margin-top: 50px;
}

/*sub mensaje de error*/
.mensajeError {
    position: relative;
    top: 50px;
    left: 29%;
    color: red;
    margin-top: 100px;
}

/*mensaje inferior*/
#botonVolver{
    right: 50%;
    position: absolute;
    bottom: 20%;
    background:#0B0B3B;
    color: #fff;
    padding: 10px;
    size:10px;
}

/*cabecera con imagen de duoc*/
.imagenDuocSuperior{
    width: 100%;
    top:1px;
    left: 0px;
    padding-top: 15px;
    background-color: #001e39;
    position: relative;
}

/*imagen de error lado izquierdo*/
.imagenError{
    height: 200px;
    width: 200px;
    margin-left: 40px;
    position: absolute;
    top: 20%;
}

/*color del cuerpo de la pagina*/
.cuerpoError{
    background-color: #ECEEF7;
}

/*Pantallas ajustadas*/
@media screen and (max-width: 1024px) and (max-height:768px){ 

    .info-usuario div p{
        padding-top: 5px;
        padding-left: 0%;
        color: #999999;
        float: left;
    }
    .info-usuario div button{
        padding-top: 5px;
        padding-left: 10px;
        text-decoration: none;
        font-size: 14px;
        color: #999999;
        background-color: #F4F6F7;    
        border: none;
        float: left;
    }
    .articulo_2 #Escuela{
        left:23%;
        top:15%;
    }
    .articulo_2 #txtEscuela{

        left:23%;
        top:35%;
    }
    .articulo_2 button{
        left:43%;
        top:35%;
    }

    .articulo_3 #btnEditarInclusion{
        top: 25%;
        left:93%;
    }
    .articulo_4 #btnEditarUap{
        top: 25%;
        left:93%;
    } 
}

    






